.links{
    
    margin-left: 20px;
}
.card{
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    width: 750px;
}
.title{
    width: 200px;
}
.inputs{
    
    transform: translateY(200px) translateX(400px);
}
.well{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.btn{
    transform: translateY(8px) translateX(30px);
}